.mat-card-header {
    background-color: #ffff!important;
    color: #1e88e5!important;
    height: 50px;
    margin-bottom: 0px !important; 
    .mat-card-title {
         margin-bottom: 0px !important; 
    }
 }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}


fieldset {
     .weather-img {
         width: 100px;
     }
     .close {
         position: absolute;
         right: 0px;
         background: rgb(228, 54, 54);
         width: 30px;
         height: 30px;
         top: 0;
         text-align: center;
         color: #fff;
         line-height: 22px;
         cursor: pointer;
     }
 }
 
 